*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 6rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.aboutme-heading img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.aboutme-heading img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
    grid-gap: 1rem;
    grid-template-areas: 
    "aboutme-heading aboutme-paragraph"
    "projects-heading projectlistings"
    "projects-heading projectlistings"
    "contactme-heading contactme-paragraph"
}

#about-me {
    margin-top: 40px;
    margin-bottom: 0;
}

.aboutme-heading {
    border-right: 3px #111 solid;
    grid-area: aboutme-heading;
}

.aboutme-heading h1 {
    text-align: center;
    font-weight: bolder;
}

.aboutme-paragraph {
    grid-area: aboutme-paragraph;
    padding: 4%;

}

.projects-heading {
    border-right: 3px #111 solid;
    grid-area: projects-heading;
}

.contactme-heading {
    border-right: 3px #111 solid;
}
.projectlistings {
    grid-area: projectlistings;
}

.recipedia img {
    max-width: 100%;
    max-height: auto;
 
}

.img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-container img {
    max-width: 200%;
}

.contactme-heading {
    grid-area: contactme-heading;
}

.contactme-paragraph {
    grid-area: contactme-paragraph;
}

section li a{
    text-decoration: none;
    list-style: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}


