*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 6rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    display: grid;
    grid-template-rows: repeat(4, 1fr); 
   grid-template-columns: 3fr 5fr 5fr;
    justify-items: flex-end;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
    grid-gap: .5rem;
    grid-template-areas: 
    "aboutme-heading aboutme-paragraph aboutme-paragraph"
    "projects-heading projectlistings projectlistings"
    "projects-heading projectlistings projectlistings"
    "contactme-heading contactme-paragraph contactme-paragraph"
}

#about-me {
    margin-top: 40px;
}

.aboutme-heading {
    grid-area: aboutme-heading;

}

.aboutme-paragraph {
    grid-area: aboutme-paragraph;
}

.projects-heading {
    grid-area: projects-heading;
}

.projectlistings {
    grid-area: projectlistings;
}

.contactme-heading {
    grid-area: contactme-heading;
}

.contactme-paragraph {
    grid-area: contactme-paragraph;
}

section li a{
    text-decoration: none;
    list-style: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}


